{% extends "index.jinja" %}

{% block titulo %} Agregar campo {% endblock titulo %}

{% block cuerpo %}

<form action="" method="post">
    <label for="inputDescripcion">Descripcion</label>
    <input type="text" id="inputDescripcion" name="descripcion"> <br>
    <label for="inputPrecio">Precio</label>
    <input inputmode="numeric" id="inputPrecio" name="precio"> <br>
    <input type="submit" id="inputAgregarBase" name="agregarBase" value="agregar">
</form>

{% endblock cuerpo %}