{% extends "index.jinja" %}

{% block titulo %} Pagina inicial {% endblock titulo %}

{% block cuerpo %}
{% if carrito is defined and carrito | length >= 1 %}
<!-- muestra los elementos en carrito -->
<table>
    <caption>
        Abarrotes "Los lunes"
    </caption>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Opciones</th>
    </tr>
    {% for item in carrito %}
    <tr>
        <td>{{ item.claveProducto }}</td>
        <td>{{ item.descripcion }}</td>
        <td>{{ '$' ~ item.precio }}</td>
        <td>
            <button>
                <a href="{{ url_for('actualizarCarroForm') }}">Actualizar</a>
            </button>
            <button>
                <a href="{{ url_for('borrarCarroBase') }}">Eliminar</a>
            </button>
        </td>
    </tr>
    {% endfor %}
</table>
<button>Agregar elemento</button>
{% else %}
<div>
    No hay elementos en el carrito, <span>
        <a href="{{ url_for('agregarCarroForm') }}">agrega uno</a>
    </span>
</div>
{% endif %}
{% endblock cuerpo %}