{% extends "index.jinja" %}

{% block titulo %} Pagina inicial {% endblock titulo %}

{% block cuerpo %}
{% if carrito is defined and carrito | length >= 1 %}
<!-- muestra los elementos en carrito -->
<table>
    <caption>
        Abarrotes "Los lunes"
    </caption>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Opciones</th>
    </tr>
    {% for item in carrito %}
    <tr>
        <td>{{ item.claveProducto }}</td>
        <td>{{ item.descripcion }}</td>
        <td>{{ '$' ~ item.precio }}</td>
        <td>
            <button id="botonActualizar{{ item.claveProducto }}">
                Actualizar
            </button>
            <button id="botonBorrar{{ item.claveProducto }}">
                Eliminar
            </button>
        </td>
    </tr>
    {% endfor %}
</table>
<button id="botonAgregarElemento">
    Agregar elemento
</button>
<script>
    {% for item in carrito %}
    document.getElementById("botonActualizar{{ item.claveProducto }}").addEventListener("click", () => {
        window.location.href = "{{ url_for('actualizarCarroForm', claveProducto=item.claveProducto) }}"
    })
    document.getElementById("botonBorrar{{ item.claveProducto }}").addEventListener("click", () => {
        const url = "{{ url_for('borrarCarroBase', claveProducto=item.claveProducto) }}";
        fetch(url, {
            method: "DELETE"
        }).then(response => {
            if (response.ok) {
                window.location.href = "{{ url_for('index') }}";
            }
        });
    });
    {% endfor %}
    document.getElementById("botonAgregarElemento").addEventListener("click", () => {
        window.location.href = "{{ url_for('agregarCarroForm') }}"
    })
</script>
{% else %}
<div>
    No hay elementos en el carrito, <span>
        <a href="{{ url_for('agregarCarroForm') }}">agrega uno</a>
    </span>
</div>
{% endif %}
{% endblock cuerpo %}